<app-header></app-header>
<section>
  <div class="pos">
    <h4 class="sub-title">{{semester}}</h4>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-striped">
          <!-- <thead class="thead-dark">
          <th>SUBJECT</th>
          <th>MODULES</th>
        </thead>  -->
  
        <tbody >
        <tr  *ngFor="let obj of arryOfsubject;let i = index"  [ngClass]="{'clor1': 0 === i % 2}" >
          <td>{{obj.subject}}</td>
          <td style="display: flex;justify-content: center;">
            <!-- <button class="view">view</button> -->
            <button class="dwn" (click)="Downloadimages(obj.logoUrl)">download</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
  </div>
 
</section>
<app-footer></app-footer>