<app-header></app-header>
<div class="container">
  <div class="row clearfix" style="padding-bottom: 30px;">
    <div class="content-side col-lg-8 col-md-6 col-sm-12">
      <div class="our-courses">
        <div class="options-view">
          <div class="clearfix">
            <div class="head">
              <h3 style="color: #13315a;">SELELCT YOUR CHOICE</h3>
            </div>
            <div class="pull-right clearfix">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="cource-block-two col-md-4"  *ngFor="let obj of arryOfSemester;let i = index">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a  (click)=onClick(obj) >{{obj.semester}}</a></h5>
                <div class="text">
                  <p>{{obj.description}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mscSeme1">SEMESTER 1</a></h5>
                <div class="text">
                  <p>Complete study materials for first semester Msc Computer Science
                    in University of Calicut is available.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 10px;">
        </div>
        <div class="row ">
          <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mscSeme2">SEMESTER 2</a></h5>
                <div class="text">
                  <p>Complete study materials for 2nd semester Msc Computer Science
                    in University of Calicut is available.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mscSeme3">SEMESTER 3</a></h5>
                <div class="text">
                  <p>Complete study materials for third semester Msc Computer Science
                    in University of Calicut is available.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mscSeme4">SEMESTER 4</a></h5>
                <div class="text">
                  <p>Complete study materials for fourth semester Msc Computer Science
                    in University of Calicut is available.</p>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row" style="height: 10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>