
  .txtHeader{
    font-size: 30px;
    color: #000000;
    display: flex;
    font-weight: normal;
    justify-content: center;
    margin-top: 30px;
  }

  .cardHedr {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #222b45;
    font-family: Open Sans, sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 1.5rem;
  }
  

  .topserch{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .tblhead{
    background-color: #075e89;
    color:white;
    border: 1px solid black;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
  }

  table,tr{
    background-color: rgb(255, 255, 255);
    color: black;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
  }

  .tblpos{
    justify-content: center;
    display: flex;
  }

  .btnstatus1{
    max-width: 120px;
    width: 100%;
    background-color: #39b54a;
    border-radius: 20px;
    color: #ffffff;
    border: 1px solid #39b54a;
    padding: 2px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;

  }

  .round-btn {
    padding: 1px 10px !important;
  }

  .btnstatus2{
    max-width: 120px;
    width: 100%;
    display: inline-block;
    background: #d02203;
    border-radius: 20px;
    color: #ffffff;
    border: 1px solid #d02203;
    padding: 2px 0px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700

  }

  .btn-primary{
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  /* pagination css */

  .headcard{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;

  }

  .page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #798580;
    /* border-color: #2196f3; */
  }

  .pagination{
    background-color: #ffffff;
    border: 1px #000000;
  }


  select.form-control:not([size]):not([multiple]) {
    height: calc(1.8375rem + 2px);
  }

.btnpos{
  justify-content: center;
  display: flex;
  margin-top: 20px;

}

.modal-title{
  text-align: center;
  color: black;
  font-weight: bolder;
}

.modal-header{
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid black;

}

.lbl{
  color: black;
}

.radiotop{
  margin-top: 30px;
}


.btncard{
  border:none;
  color: #fdfdfd;
  border-radius: 5px;
  width: 100px;
  height: 38px;
  background-color:#FF8810;
}



.inputtype {
  /* background-color:#ededed; */
  border-radius: 5px;
  height: calc(2rem + 2px);
  height: 34px;
  font-size: 14px;
  border: 1px solid ;
}

.btn1 {
  background-color: #859186;
  font-size: 18px;
  color: #ffffff;
  width: 140px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  margin-right: 10px;
}

.btn2 {
  background-color:#9aa5ae;
  font-size: 18px;
  color: #ffffff;
  width: 140px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  /* border-radius: 5px; */
  /* margin-right: 40px; */
  /* margin-top: 60px; */
  /* border-style: dashed; */
}
.btn4 {
  background-color:#cf787e;
  /* margin-left:2px; */
  padding-left: 9px;
  padding-top: 4px;
  font-size: 15px;
  color: white;
  width: 30px;
  height: 29px;;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  /* border-radius: 5px; */
  /* margin-right: 40px; */
  /* margin-top: 60px; */
  /* border-style: dashed; */
}
.btn5 {
  background-color:#568e9c;
  /* margin-right: 78%; */
  padding-left: 9px;
  padding-top: 4px;
  font-size: 15px;
  color: white;
  width: 30px;
  height: 29px;;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
}

.buttons{
  display: inline;
  float: right;
}

.popup{
  cursor: pointer;

}

.popup:hover{
  color: #0088ff;
  /* background-color: #39b54a; */
}

.headcard{
  justify-content: center;
  display: flex;
  margin-bottom: 20px;

}

.headtxtcard{
  font-size: 30px;
  color:#4B3F72;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  padding: 1px 5px 6px;
}

.txt1{
  margin-left: 20px;
  margin-top: -1px;
  font-weight: bolder;
}
.checked {
  color: orange;
}
.actv{
font-size: 14;
font-weight: bolder;
}

.count {
  /* font-size: 30;
  font-weight: 700;
  color: #0088ff; */
    font-size: 30px;
    margin-bottom: 0;
    margin-right: 0;
    color: #383A38;
    font-weight: 700;
}
.count span{
  /* margin-left: 10px; */
  font-size: 16px;
  color: #000000;
}

.inputtypes{
  border:2px;
  border-style:solid;
  border-color:#040404;
  padding: 1em;
  width: 100%;
  min-height: 100px;
}

.quest{
  color: #000000;
  text-align: center;
  margin-top: 30px;
  font-size: large;
  font-weight: 800;
  margin-bottom: 10px;
}

.lbltxt{
  /* color: rgb(43, 28, 28)3, 28, 28)3, 28, 28)3, 28, 28)3, 28, 28); */
  /* font-size: 10px; */
  font-weight: bolder;
}

.txtpendng{
  color: rgb(243, 0, 0);
  margin-top: -8px;
}
.txtpendng:hover{
  cursor: pointer;
}

.txtapprvd{
  color: rgb(85, 214, 20);
  margin-top: -8px;
}
.txtapprvd:hover{
  cursor: pointer;
}


