<app-header></app-header>
<section>
  <div class="pos">
    <h4 class="sub-title">SEMESTER-3</h4>
  </div>
  <table>
    <th>SUBJECT</th>
    <th>MODULE 1</th>
    <th>MODULE 2</th>
    <th>MODULE 3</th>
    <th>MODULE 4</th>
    <th>MODULE 5</th>
    <tr>
      <td>Advanced Database Management System</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Object Oriented Programming Concept</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Principles of Compilers</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Computer Graphics</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Virtualisation and Cloud Computing</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
  </table>
</section>
<app-footer></app-footer>

