.cardHedr {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #edf1f7;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #222b45;
  font-family: Open Sans, sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 1.5rem;
}
.topserch{
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.tblhead{
  background-color: #075e89;
  color:white;
  border: 1px solid black;
}
table,tr{
  background-color: rgb(255, 255, 255);
  color: black;

}

.inputtype {
  
  border-radius: 5px;
  height: calc(2rem + 2px);
  height: 34px;
  font-size: 14px;
  border: 1px solid ;
  margin-left: 10px;
}
.page-item.active .page-link {
  z-index: 1;
  color: #ffffff;
  background-color: #798580;

}

.pagination{
  background-color: #ffffff;
  border: 1px #000000;
}
.lbltxt{
 
  font-weight: bolder;
}

.btn2 {
  background-color:#9aa5ae;
  font-size: 18px;
  color: #ffffff;
  width: 140px;
  height: 35px;
  border: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
}
.btn1 {
  background-color:#4dcc5c;
  font-size: 18px;
  color: #ffffff;
  width: 140px;
  height: 35px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 40px;
  }
  .btn4 {
    background-color:#cf787e;
    /* margin-left:2px; */
    padding-left: 9px;
    padding-top: 4px;
    font-size: 15px;
    color: white;
    width: 30px;
    height: 29px;;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    /* border-radius: 5px; */
    /* margin-right: 40px; */
    /* margin-top: 60px; */
    /* border-style: dashed; */
  }
  .btn5 {
    background-color:#568e9c;
    /* margin-right: 78%; */
    padding-left: 9px;
    padding-top: 4px;
    font-size: 15px;
    color: white;
    width: 30px;
    height: 29px;;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
  }
  .buttons{
    display: inline;
    float: right;
  }