<section>
  <table>
    <th>SUBJECTS</th>
    <th>MODULE 1</th>
    <th>MODULE 2</th>
    <th>MODULE 3</th>
    <th>MODULE 4</th>
    <th>MODULE 5</th>
    <tr>
      <td>Discrete Mathematics and Structures</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Advanced Data Structures</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Theory of Computation</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Art of Programming Methedology</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Architecture</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</section>
