<section>
  <table>
    <th>SUBJECTS</th>
    <th>MODULE 1</th>
    <th>MODULE 2</th>
    <th>MODULE 3</th>
    <th>MODULE 4</th>
    <th>MODULE 5</th>
    <tr>
      <td>Design and Analysis of Algorithms</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Operating System Concept</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Networks</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Principles of Software Engineeering</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Architecture</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</section>
