<!-- <section class="testimonial-section">
  <div class="auto-container"> -->
    <section class="news-section">
      <div class="container  top-cntr">
        <div class="row clearfix">
                <!-- <div class="lower-content">
                  <div class="text">
                    <p>
                      <b>MSC ComputerScience</b> and<b> MCA</b> students at Calicut University can download
                      previous question papers and study materials for semester/annual exams.
                      <b>UGC-NET </b> study materials are also provided for the students .
                      Use the oppertunity and enjoy your studies.
                      <br><br>For MSC Computer Science and MCA students in <b>Calicut University </b>
                      study materials and previous question papers of all semester is provided.
                      Students can download previous Calicut University Examination question paper
                      by selecting specific course from below.
                    </p>
                  </div>
                </div> -->
              </div>
          </div>
    </section>
      
    <section class="testimonial text-center">
      <div class="container">

          <div class="heading white-heading">
              Quotes for You
          </div>
          <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
           
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <div class="testimonial4_slide">
                          <img src="../../../assets/dist/img/download.jpeg" class="img-circle img-responsive" />
                          <p>Yes, study Sucks ,But trust me...Not more than failure does !</p>
                         
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial4_slide">
                          <img src="../../../assets/dist/img/download.jpeg" class="img-circle img-responsive" />
                         <p>  It's Not the Time to Look for Excuses..</p>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="testimonial4_slide">
                          <img src="../../../assets/dist/img/download.jpeg" class="img-circle img-responsive" />
                          <p> No shortcuts, Work for it !</p>
                         </div>
                  </div>
                  <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="../../../assets/dist/img/download.jpeg" class="img-circle img-responsive" />
                        <p> Work Hard, Dream Big !</p>
                       </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
              </a>
          </div>
      </div>
  </section>
        <!-- <section>
    <div class="owl-stage"
      style="transform: translate3d(-1560px, 0px, 0px); transition: all 0s ease 0s; width: 5460px;">
      <div class="owl-item cloned" style="width: 780px;">
        <div class="testimonial-block">
          <div class="inner-box">
            <div class="image-box">
              <div class="text">
                <p><b>MSC ComputerScience</b> and<b> MCA</b> students at Calicut University can download
                  previous question papers and study materials for semester/annual exams.
                  <b>UGC-NET </b> study materials are also provided for the students .
                  Use the oppertunity and enjoy your studies.
                  <br><br>For MSC Computer Science and MCA students in <b>Calicut University </b>
                  study materials and previous question papers of all semester is provided.
                  Students can download previous Calicut University Examination question paper
                  by selecting specific course from below.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section> -->