<div class="minbox">
  <form>
    <h3>SELECT YOUR CHOICE</h3>
    <div class="col-md-4">
      <input type="submit" value="MCA:STUDY MATERIALS">
    </div>
    <div class="col-md-4">
      <input type="submit" value="MSC:STUDY MATERIALS">
    </div>
    <div class="col-md-4">
      <input type="submit" value="MCA:QUESTION PAPERS">
    </div>
    <div class="col-md-4">
      <input type="submit" value="MSC:QUESTION PAPERS">
    </div>
    <div class="col-md-4">
      <input type="submit" value="NET : STUDY MATERIALS">
    </div>
  </form>
</div>