<section class="page-title">
    

    <div class="auto-container" style="padding-bottom: 0px;">

            <!-- <div class="d-flex justify-content-between align-items-center" >
                <a class="logo;">
                    <b style="color: rgb(255, 255, 255);font-size: 40px;margin-left: 50px;"> StudyMate </b>
                </a>
                <a id="menuBtn" (click)="toggleMenu()" class="d-block d-md-none"></a>
            </div> -->
            <!-- <nav [ngClass]="{'active': menuOpt, 'sclNav': sclBar}"> -->
                <!-- <div class="container" >
                    <div class="d-flex flex-column flex-md-row" style="font-size: 20px;margin-left: 500px; color: white;">
                     <ul> <a>Home</a></ul>
                      <ul><a>Courses</a></ul>
                      <ul> <a>Services</a></ul>
                      <ul><a>About</a></ul>
                      <ul><a>Contact</a></ul>
                    </div>
                </div>
              </nav> -->
              
        <h1>Learn from here</h1>
        <img src="../../../assets/dist/img/banner.png" class="responsive" width="600" height="400"> 
        
        <!-- Search Boxed -->
        <!-- <div class="search-boxed">
            <div class="search-box">
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="What do you want to learn?" required="">
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </div>
                </form>
            </div>
        </div>
         -->
    </div>
</section>