<!-- <div class="container">  
    
  <h1> QUESTION PAPERS : MCA </h1>  
    
  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>SUBJECTS</th>  
          <th>2019</th>  
          <th>2020</th>  
          <th>2021</th>   
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let subjectmca of subjectmca">  
        <td>{{ subjectmca.name }}</td>  
        <td>{{ subjectmca.link1 }}</td>  
        <td>{{ subjectmca.link2 }}</td>  
        <td>{{ subjectmca.link3 }}</td>  
      </tr>  
    </tbody>  
  </table>
</div> -->