<div >
<app-header></app-header>
<div class="row clearfix">
  <div class="row clearfix">
    <div class="content-side col-lg-8 col-md-6 col-sm-12">
      <div class="our-courses">
        <div class="options-view">
          <div class="head">
            <h3 style="color: #13315a;">SELELCT YOUR CHOICE</h3>
          </div>
          <div class="pull-right clearfix">
          </div>
        </div>
        <div class="row">
          <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mcaSyllabus">SYLLABUS:MCA</a></h5>
                <div class="text">
                  <p>Complete syllabus information for MCA students
                    in Calicut University are available here.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mcaSeme1">SEMESTER 1</a></h5>
                <div class="text">
                  <p>Complete study materials for first semester MCA
                    in University of Calicut is available.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 10px;">
        </div>
        <div class="row">
          <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mcaSeme2">SEMESTER 2</a></h5>
                <div class="text">
                  <p>Complete study materials for second semester MCA
                    in University of Calicut is available.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="cource-block-two col-md-4">
            <div class="inner-box">
              <div class="card">
                <img class="card-img-top" src="../../assets/dist/img/msc.jpeg" alt="Card image cap">
              </div>
              <div class="lower-content">
                <h5><a href="http://localhost:4200/mcaSeme3">SEMESTER 3</a></h5>
                <div class="text">
                  <p>Complete study materials for third semester MCA
                    in University of Calicut is available.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="height: 10px;">
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
</div>