section{
  background: radial-gradient(#653d84, #332042);
  height: 628px;
  color: white;
  display: flex;
  flex-direction: column;
  }
  table{
  height: 200px;
  border-collapse: collapse;
  border: 1px solid white;
  margin-top:140px;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 140px;
  background:radial-gradient(#936ab3, #4a345a) ;
}
  tr,th,td{
  border-collapse: collapse;
  border: 1px solid white;
  text-align: center;
}