/* .ct-chart .ct-series-a .ct-slice-pie, .ct-chart .ct-series-a .ct-slice-donut-solid, .ct-chart .ct-series-a .ct-area{
  fill: #A4A1FC !important;
}

.graph{
background-color: gray;
color: green;

}

series-a .ct-area {
fill: #1d221f;
}

.ct-series-a .ct-area {
stroke: #eeeeee;
} */
