<section>
  <table>
    <th>SUBJECTS</th>
    <th>MODULE 1</th>
    <th>MODULE 2</th>
    <th>MODULE 3</th>
    <th>MODULE 4</th>
    <th>MODULE 5</th>
    <tr>
      <td>Advanced Database Management System</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Object Oriented Programming Concept</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Principles of Compilers</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Computer Graphics</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Virtualisation and Cloud Computing</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</section>
