<app-header></app-header>
<section>
  <div class="pos">
    <h4 class="sub-title">SEMESTER-4</h4>
  </div>
  <table>
    <th>SUBJECTS</th>
    <th>MODULE 1</th>
    <th>MODULE 2</th>
    <th>MODULE 3</th>
    <th>MODULE 4</th>
    <th>MODULE 5</th>
    <tr>
      <td>Fundamentals of Big Data</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Advanced Java Programming</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
  </table>
</section>
<app-footer></app-footer>