<div class="main-content ">
  <div class="container-fluid ">
    <div class="row topserch">
      <div class="col-md-12 ">
        <div class="card ">
          <div class="cardHedr">
            QuestionUpload
            <div class="pull-right">
              <button class="btn2" (click)="onCreate()">QuestionUpload</button>
            </div>
          </div>
          <form [formGroup]="formUserSearch">
            <div class="row">
              <div class="col-md-4 ">
                <div class="form-group">
                  <div class="frmpos1">
                    <label class="lbltxt" style="margin-left:10px;">Subject</label>
                    <input type="text" class="form-control inputtype" formControlName="subject"  name="subject">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">
                <div class="form-group">
                  <div class="frmpos1">
                    <label class="lbltxt" style="margin-left:10px;">Semester</label>
                    <input type="text" class="form-control inputtype" formControlName="semester"  name="semester">
                  </div>
                </div>
              </div>
            </div>
          
            <div class="col-md-12 pull-right">
              <div class="row pull-right">
              <button  class="btn1"  (click)="QuestionUpload()">Search</button> 
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-2">
              <div class="buttons">
                <select class="form-group" (change)="getPageLimit($event.target.value)" style="padding: 0;">
                  <option *ngFor="let item of pageLimit;"  [value]=item.count>{{item.count}}</option>
                </select>&nbsp;Entries
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-12">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tblhead">
                    <thead>
                      <th>No.</th>
                      <th>subject</th>
                      <th>semester</th>
                      <th>year</th>
                    </thead>
                    <tr *ngFor="let obj of arryOfItemData;let i = index">
                      <td>{{i+1}}</td>
                      <td> {{obj.subject.subject}} </td>
                      <td> {{obj.subCategory.semester}} </td>
                      <td> {{obj.year}} </td>
                      <td>
                         <!-- <div class="btn5" (click)="onUpdate(obj)"><i class="fa fa-pencil" aria-hidden="true"></i> -->
                          <button class="btn5" (click)="onUpdate(obj)"><i class="fa fa-pencil" aria-hidden="true"></i></button>&nbsp;
                          <button class="btn4" (click)="openModal(DeleteTemplate,obj)"><i class="fa fa-remove" aria-hidden="true"></i></button>
                          <!-- </div>/ -->
                        </td>
                    </tr>
                  </table>
                  <div class="text-right table-responsive mt-2">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
                          <a class="page-link" (click)="setPage(1)">First</a>
                        </li>
                        <li class="page-item" [ngClass]="{ disabled: pager.currentPage === 1 }">
                          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li class="page-item" *ngFor="let page of pager.pages"
                          [ngClass]="{ active: pager.currentPage === page }">
                          <a class="page-link" (click)="setPage(page)">{{ page }}</a>
                        </li>
                        <li class="page-item" [ngClass]="{ disabled: pager.currentPage === pager.totalPages }">
                          <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li class="page-item" [ngClass]="{ disabled: pager.currentPage === pager.totalPages }">
                          <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <div  class="card card-body" *ngIf="!arryOfItemData.length">
                    <div class="row"> 
                      <div class="col-12 text-center">
                        <h3>No data found. Please select above details</h3>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #DeleteTemplate>
  <div class="card-body">
    <form  [formGroup]="UpdateForm" >
      <div class="modal-header">
        <h4 class="modal-title pull-center">Delete Box</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p class="quest"> Are you sure you want to Delete this account?</p>
        <div class="row" style="justify-content: center;display: flex;">
          <div class="col-md-6" >
         
          </div>
        </div>
        <div class="row btnpos"  >
          <button type="button" class="btncard"  *ngIf="modalRef" type="button"  (click)="modalRef.hide(clearStatus())"
          data-dismiss="modal" style="background-color: rgb(58, 56, 194);margin-right: 10px;"> <span class="fa fa-close"></span> Cancel </button>
          <button type="button" class="btncard" *ngIf="modalRef" type="button" (click)="modalRef.hide(onDeleteConfirm(objSelected))"
            data-dismiss="modal" style="background-color: rgb(230, 99, 99);"><span class="fa fa-check "></span> Delete </button>
        </div>
    </form>
  </div>

</ng-template>
