<!-- <div class="container">  
    
  <h1> QUESTION PAPERS : MSC </h1>  
    
  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>SUBJECTS</th>  
          <th>2019</th>  
          <th>2020</th>  
          <th>2021</th>  
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let subject of subject">  
        <td>{{ subject.name }}</td>  
        <td>{{ subject.link1 }}</td>  
        <td>{{ subject.link2 }}</td>  
        <td>{{ subject.link3 }}</td>  
      </tr>  
    </tbody>  
  </table>
</div> -->