
.fontWeight {
  font-weight: 600;
}

.centerAlign {
  display: flex;
  align-items: center;

}

.loginbg{
  max-width: 550px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  /* width: 50%; */
}

.border{
  /* border-style: 10px solid black; */
  border-radius: 15px ;
}

/* .field-icon {
  float: right;
  left: -15px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
} */
