<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <!-- <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call Us</h4>
                          <span>9495190322</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Mail Us</h4>
                          <span>greeshmavg77@gmail.com</span>
                      </div>
                  </div>
              </div>
          </div> -->
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <img class="imgSize"  src="../../../assets/dist/img/book1.png" alt="Bidderboy">
                           <h3> <b> Master-Study-Portal </b></h3>
                        </div>
                        <div class="footer-text">
                            <p>
                                <b>MSC ComputerScience</b> and<b> MCA</b> students at Calicut University can download
                                previous question papers and study materials for semester/annual exams.
                                <b>UGC-NET </b> study materials are also provided for the students .
                                Use the oppertunity and enjoy your studies.
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="row">
                            <!-- <div class="col-xl-4 col-md-4 mb-30"> -->
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fa fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Call Us</h4>
                                    <span>9495190322</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fa fa-envelope"></i>
                                <div class="cta-text">
                                    <h4>Mail Us</h4>
                                    <span>greeshmavg77@gmail.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer-widget-heading">
                          <h3>Useful Links</h3>
                      </div>
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Courses</a></li>
                          <li><a href="#">Services</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div> 
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                  <div class="footer-widget">
                  </div>-->
                </div>
            </div>
        </div>
    </div>
</footer>