<div class="auto-container">
  <div class="sec-title centered">
    <h2 style="text-align: center;">Choose a topic</h2>
    <div class="text">
      <p><b>ComputerScience</b> and<b> BCA</b> students at Banglore University can download previous 
        question papers an study materials for semester exams
        <b>UGC-NET </b> study materials are also provided for the students .
        Use the oppertunity and enjoy your studies.
        <br><br>BCA students at <b>Bangalore North University</b> can download previous question papers
        and study materials for their semester and annual exams. Additionally, study materials for MCA 
        courses are also provided to support their academic journey. 
        Make the most of this opportunity and enjoy your studies! .
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3" *ngFor="let obj of arryOfItemData;let i = index">
          <div class="topic-block ">
            <div class="inner-box">
              <div class="icon-box">
                <i class="fa fa-book" style="font-size:40px;color:rgb(0, 0, 0)"></i>
              </div>
              <h5 class="head"><a (click)=onClick(obj) >{{obj.fieldName}}</a></h5>
              <div class="text">
                <p>{{obj.description}}</p>
              </div>
              <button style="color:black;background-color: #d2f2f8 ; border-radius: 10px;border: none;">
                <i class="fa fa-arrow-right"(click)="onClick(obj)"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>