<app-header></app-header>
<section>
  <div class="pos">
    <h4 class="sub-title">SEMESTER-2</h4>
  </div>
  <table>
    <th>SUBJECT</th>
    <th>MODULE 1</th>
    <th>MODULE 2</th>
    <th>MODULE 3</th>
    <th>MODULE 4</th>
    <th>MODULE 5</th>
    <tr>
      <td>Design and Analysis of Algorithms</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Operating System Concept</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Computer Networks</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Principles of Software Engineeering</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
    <tr>
      <td>Computer Architecture</td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
      <td><button class="view">view</button>
        <button class="dwn">download</button>
      </td>
    </tr>
  </table>
</section>
<app-footer></app-footer>
